## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [34]:
ciudades  = ["Bogota", "Paris", "New York", "Venecia", "Roma", "Milan", "Londres"]
        #      0         1         2           3         4       5         6

print (ciudades)

['Bogota', 'Paris', 'New York', 'Venecia', 'Roma', 'Milan', 'Londres']

2) Imprimir por pantalla el segundo elemento de la lista

In [23]:
print (ciudades [1])

Paris

3) Imprimir por pantalla del segundo al cuarto elemento

In [24]:
print (ciudades [1:4]) 
# se pone hasta el 4 porque ese no lo imprime

['Paris', 'New York', 'Venecia']

4) Visualizar el tipo de dato de la lista

In [25]:
type (ciudades)

list

In [26]:
print (type (ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [27]:
print (ciudades [2: ])

['New York', 'Venecia', 'Roma', 'Milan', 'Londres']

6) Visualizar los primeros 4 elementos de la lista

In [28]:
print (ciudades [:4])

['Bogota', 'Paris', 'New York', 'Venecia']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [36]:
ciudades.append ("New York")
ciudades.append ("Toronto")
print (ciudades)

# tambien se podria hacer con extend

['Bogota', 'Paris', 'New York', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto']

8) Agregar otra ciudad, pero en la cuarta posición

In [37]:
ciudades.insert (3, "Munich") # (indice, "elemento")
print (ciudades)

['Bogota', 'Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto']

9) Concatenar otra lista a la ya creada

In [41]:
ciudades2  = ["Miami", "Lisboa", "Buenos Aires"]
print (ciudades2)

['Miami', 'Lisboa', 'Buenos Aires']

In [42]:
ciudades.extend (ciudades2)  # aca en la lista original se suma la segunda lista
print (ciudades)

['Bogota', 'Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa', 'Buenos Aires']

In [44]:
# otra forma es sumando, ejemplo (aca se crea una nueva lista)

lis1 = [1, 2, 3]
lis2 = ["a", "b", "c"]
sumalis = lis1 + lis2
print (sumalis)

[1, 2, 3, 'a', 'b', 'c']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [45]:
ciudades.index ("New York")  # muestra el primero

2

In [46]:
ciudades.count ("New York") # nos dice cuantas veces aparece el elemento en la lista

3

In [47]:
# para saber en que indice esta se hace un loop con enumerate asi:

for i,ciudad in enumerate (ciudades):
    print (i,ciudad)

0 Bogota
1 Paris
2 New York
3 Munich
4 Venecia
5 Roma
6 Milan
7 Londres
8 New York
9 New York
10 Toronto
11 Miami
12 Lisboa
13 Buenos Aires

In [50]:
# si quiero saber solo para New York se hace asi:

for i,ciudad in enumerate (ciudades):
    if ciudad == "New York":
        print (i,ciudad)

2 New York
8 New York
9 New York

11) ¿Qué pasa si se busca un elemento que no existe?

In [51]:
ciudades.index ("Bagdad")

ValueError: 'Bagdad' is not in list

El Error que dice es: 'Bagdad' is not in list

In [52]:
# otra forma por cad elemento de la lista me dice que no esta

for i,ciudad in enumerate (ciudades):
    if ciudad == "Bagdad":
        print (i,ciudad)
    else:
        print ("la ciudad no esta en la lista ciudades")

la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades
la ciudad no esta en la lista ciudades

12) Eliminar un elemento de la lista

In [53]:
print (ciudades)

['Bogota', 'Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa', 'Buenos Aires']

In [55]:
ciudades.remove ("Bogota")
print (ciudades)

['Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa', 'Buenos Aires']

In [56]:
ciudades.pop ()  # me elimina el ultimo elemento de la lista si no le pongo indice en el parentesis asi:

'Buenos Aires'

In [65]:
ciudades = ['Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa']
print (ciudades)

['Paris', 'New York', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa']

In [66]:
ciudades.pop (1) # me elimina New York que esta en el indice 1
print (ciudades)

['Paris', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'New York', 'Toronto', 'Miami', 'Lisboa']

In [67]:
del ciudades [7] # me elimina New York que esta en el indice 7
print (ciudades)

['Paris', 'Munich', 'Venecia', 'Roma', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Lisboa']

In [68]:
del ciudades [2:4] # me elimina indice 2 y 3 = Venecia y Roma
print (ciudades)

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Lisboa']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [69]:
ciudades.remove ("Bogota")
print (ciudades)

# me vota error y dice que el elemento no esta en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [70]:
ultima_ciudad = ciudades.pop ()
print (ultima_ciudad)

Lisboa

15) Mostrar la lista multiplicada por 4

In [71]:
ciudades

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami']

In [74]:
print (ciudades * 4) # me repite la lista 4 veces, pero como no se metio en variable la lista sigue igual, mira el segundo code print

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami']

In [75]:
ciudades

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [77]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print (tup)
print (type (tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [78]:
# para no escribir todos los numeros uno a uno hacemos un loop asi

lista = []               # creamos la lista y la cambiamos a tupla 

for i in range (1,21):
    lista.append (i)
tup2 = tuple (lista)
print (tup2)
print (type (tup2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [79]:
enteros = tuple (range (1,21))  # otra forma directamente 

print (enteros)
print (type (enteros))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [82]:
print (tup [10:16]) # los indices son iguales, el ultimo no lo imprime aca el indice 15 = numero 16

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [83]:
print (20 in tup)
print (30 in tup)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'Caracas' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [85]:
"Caracas" in ciudades

False

In [86]:
elemento = "Caracas"

if ciudad in ciudades:
    print (f"la ciudad {elemento} no esta en la lista")
else:
    ciudades.append (elemento)
    print (f"la ciudad {elemento} fue agregada a la lista")

la ciudad Caracas fue agregada a la lista

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [88]:
print (tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [89]:
print (tup.count (10)) # me dice que el 10 esta una vez en la tupla y Paris una vez en la lista

1

In [87]:
print (ciudades)

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Caracas']

In [91]:
print (ciudades.count ("Paris"))

1

21) Convertir la tupla en una lista

In [93]:
lista2 = list(tup)

In [95]:
print (lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [96]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [97]:
v1,v2,v3,_, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ =tup

# se desempaqueta asi, solo se da variable a las 3 primeras que es lo que se pide

print (v1)
print (v2)
print (v3)

1
2
3

In [100]:
# otra forma

v1,v2,v3 = tup [0:3]
print (v1)
print (v2)
print (v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [101]:
print (ciudades)

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Caracas']

In [105]:
paises = ['Francia', 'Alemania', 'Italia', 'Inglaterra', 'USA', 'Canada', 'USA', 'Venezuela']

continentes = ['Europa', 'Europa', 'Europa', 'Europa', 'America', 'America', 'America', 'America']

In [107]:
dicc = { "ciudad": ciudades,
        "pais": paises,
         "continente" : continentes }

In [108]:
print (dicc)

{'ciudad': ['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Caracas'], 'pais': ['Francia', 'Alemania', 'Italia', 'Inglaterra', 'USA', 'Canada', 'USA', 'Venezuela'], 'continente': ['Europa', 'Europa', 'Europa', 'Europa', 'America', 'America', 'America', 'America']}

24) Imprimir las claves del diccionario

In [109]:
dicc.keys ( )

dict_keys(['ciudad', 'pais', 'continente'])

In [110]:
dicc.values ( )

dict_values([['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Caracas'], ['Francia', 'Alemania', 'Italia', 'Inglaterra', 'USA', 'Canada', 'USA', 'Venezuela'], ['Europa', 'Europa', 'Europa', 'Europa', 'America', 'America', 'America', 'America']])

25) Imprimir las ciudades a través de su clave

In [112]:
print (dicc["ciudad"])

['Paris', 'Munich', 'Milan', 'Londres', 'New York', 'Toronto', 'Miami', 'Caracas']